.features-section {
   background: linear-gradient(90deg, #1e1f3a, #23255b); 
  padding-bottom: 120px;
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 0%;
 
  
  }
  .custom-card {
    background: inherit; /* This allows card-red/green bg to apply */
    border: 2px solid #ffcc00;
    border-radius: 1rem;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: white;
    position: relative;
    z-index: 1;
  }
 
  
  
  /* .custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffcc00aa;
  } */
  .card-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.4);
    transition: all 0.3s ease-in-out;
  }
  
  
   
  @media (max-width: 480px) {
    .features-section {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 60px;
      height: auto; /* Remove fixed height for mobile */
    }
  
   
    .custom-card {
      padding: 12px;
      min-height: 90px; /* Card ki height chhoti kar di */
      display: flex;
      flex-direction:column ;
      justify-content: center;
      align-items: center;
    }
  
    .card-title {
      font-size: 0.68rem !important; /* Title font size chhota */
    }
  
    .card-text {
      font-size: 0.6rem; /* Description font size chhota */
      line-height: 1.3;
    }
    .custom-card img {
      width: 60px;
      height: 60px;
      margin: 0 auto 1rem;
    }
    .animate-card {
      animation: fadeInUp 0.8s ease forwards;
      opacity: 0;
    }
    
    .animate-card.delay-1 {
      animation-delay: 0.2s;
    }
    .animate-card.delay-2 {
      animation-delay: 0.4s;
    }
   
      .animate-card.delay-0 {
        animation-delay: 0s;
      }
      .animate-card.delay-3 {
        animation-delay: 0.6s;
      }
    
    
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(40px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  
 