.hero-section {
  background: linear-gradient(90deg, #1e1f3a, #23255b);
    color: #fff;
    height: 100vh;
    overflow: hidden;
    
  }
  .lead{
    color: white;
    font-size:30px;
    font-weight: 400;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.616);
  }
  .hero-btn{
    color: white;
    background-color:#50c404;
    box-shadow: 0px 0px 10px rgba(54, 51, 51, 0.952);
    
    
  }
  .text-big{
    color: rgba(255, 255, 255, 0.904) ; 
    font-weight: bolder;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.788);
  }
  
    .slideshow-container {
      position: relative;
      max-width: 80%;
      height: 80vh;
      overflow: hidden;
      margin-top: 85px;
      border-radius: 30px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px 0px 15px #030635ce;
    }
    
    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      animation: fadeSlideshow 15s infinite;
    }
   
   .slide:nth-child(1) {
      animation-delay: 0s;
    }
    .slide:nth-child(2) {
      animation-delay: 5s;
    }
    .slide:nth-child(3) {
      animation-delay: 10s;
    } 
    
    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    
    
    @keyframes fadeSlideshow {
      0% {
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      30% {
        opacity: 1;
      }
      35% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    
      
  .container-text{
    position: absolute;
    top: 470px;
    left: 600px;
  }
  
  
  
 @media (max-width: 480px) {
  .hero-section{
    height: 50vh;
  }
  .slideshow-container {
    width: 100%;        
    height: 22vh;
    margin: auto;  
    border-radius: 20px;
    margin-top: 80px;
  }

  .img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
 .container-text{
  left: 138px;
  top: 268px;
  
 }
 .hero-btn{
  width: 130px;
  height: 30px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  
 }
      }
      
  
   