.how-to-play-section {
  background: linear-gradient(90deg, #1e1f3a, #23255b);
  padding-top: 60px;
}


.play-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);
  transition: all 0.3s ease-in-out;
  height: 100%;
  min-height: 280px;
}
.play-card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #fcbd00, #fcd146, #ecb308);
  background-size: 300% 300%;
  z-index: -1;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.4s ease;
  animation: pulseGlow 4s ease infinite;
}
.play-card:hover::before {
  opacity: 0.6;  
}
.play-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.25);
  
}
.play-card:hover .step-icon,
.play-card:hover h5 ,
.play-card:hover p{
  color: #23255b !important; /* golden on hover */
 
}

.step-icon {
  font-size: 2.5rem;
  color: #ffc107;
}

.play-card h5 {
  font-size: 1.2rem;
}

.play-card p {
  font-size: 0.95rem;
  color: #ddd;
}
